/*-- scss:defaults --*/
$presentation-heading-color: #C10230;
$presentation-heading-font-weight: 200;
$presentation-heading-line-height: 1;
$presentation-title-slide-text-align: right;	
/*-- scss:rules --*/